/*COLOR VARIABLES*/

$base-bg: #eaeaea;
$white: #434343;
$green: #39d179;
$test: #d46868;
$bunky-font: 'Gloria Hallelujah',
cursive;
$hero-font: 'Patua One',
cursive;
$bunky-text-color: #ffffff;
$userpanel-color: #FFFFFF;
$bunky-bg: #39cbd1;
$bunky-bg: #2bbbc1;
/*Dark Theme*/

$sidebar-color: #333645 + 20;
/*Light Theme*/

$sidebar-color: #e8e8e8;
/*Custom Theme*/

$text-red: #a01b1b;
$section-padding : 70px;
//$sidebar-color: #34495e;
$overall-color: #ffffff;
$body-bg: #F4F4F4;
/*$body-bg : url(../img/graphy.png) repeat, rgba(200,0,0,0.6);*/

$animation-duration : 0.2s;

@import 'variables';
@import 'sidemenu';
@import 'animation';
@import 'mediaQueries';
@import 'css-spinner';
//@import 'checkbox';


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'RobotoDraft';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   
}




.loading{
    padding: 20px;
    text-align: center;
    transition-delay: 0.5s;
    h6{
        margin-top: 60px;
    }
}

.sub-text {
    color: #888787;
}

.navbar{
    background:#ffffff;
    color: #FFF !important;
    background: #0d7c7c;
    border: 0px;
    padding: 5px 0px;
   
}

 .navbar-default .navbar-nav > li > a {
       color: #fff;
         font-weight: bold;
    }


.brand{
    img.bunky-logo{
        max-height: 50px;
        padding: 5px;
        display: inline-block;
    }
    
    .bunky-text{
        font-family: $bunky-font;
        position: relative;
        font-size: 20px;
        font-weight: bold;
        color: #FFF;
        top: 5px;
    }
}


.login-form{
    background: #FFF;
    padding: 30px;
    max-width: 350px;
    border-radius: 4px;
    margin: 0px auto;
    position: relative;
    box-shadow: 0px 1px 3px rgba(#000,0.3);
    
    img{
        max-width: 130px;
        margin: 20px auto;
    }
    
    .form{
        text-align: left;
        color: #555;
        
        .form-control{
            margin-bottom: 10px;
        }
        
        
    }
}

.pitch{
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(#000,0.3);
    text-align:  right;
    
    @include tablet{
        text-align: center!important;
    }
    
    h2{
        font-size: 40px;
        
        @include tablet{
            font-size: 25px;
        }
    }
    
    img.like-a-boss{
        position: absolute;
        bottom: -240px;
        left: -130px;
        height: 400px;
        width: auto;
        
        @include laptop{
            height: 300px;
            width: auto;
        }
        
       
        
        
    }
    
    h1{
        font-size: 50px;
        font-family: $bunky-font;
        font-weight: bold;
        color: #ffffff;
        background: rgba(#9dff00,0.3);
        display: inline-block;
        padding: 5px 15px;
        transform: rotate(-4deg) translateY(-20px);

    }
    
    .avalable-c{
                text-align: right;

        @include tablet{
            text-align: center;
        }
        
        h6{
            padding-right: 20px;
        }
        
        
        img{
            max-width: 200px;
            display: inline-block;
        }
    }
}


.main {
    padding: $section-padding+35 0px;
    background: transparent;
    background-position: top;
    color: #FFFFFF;
    width: 100%;
    position: relative;
    display: block;
    z-index: 1;
    color: #fff;
    margin: 0px;
    top: -20px;
    min-height: 600px;
    
    
    &:before {
        content: '';
        background: rgba($bunky-bg, 0.5);
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.subject.ng-enter {
  /* standard transition code */
  transition: 1s linear all;
  opacity:0;
}
.subject.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  transition-delay: 0.1s;

  /* As of 1.4.4, this must always be set: it signals ngAnimate
    to not accidentally inherit a delay property from another CSS class */
  transition-duration: 0s;
}
.subject.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity:1;
}


.no-pm {
    margin: 0px !important;
    padding: 0px !important;
}

.text-left {
    text-align: left;
}

body {
    text-align: center;
        background: url('../img/bg.png');

    overflow-x: hidden;
}

.blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    background: rgb(222, 239, 92);
    transition-duration: 0.2s;
}

.card.login {
    padding-top: 40px;
    #bunky-text {
        font-size: 40px;
        font-family: $bunky-font;
        font-weight: 800;
        color: $bunky-text-color;
    }
    #ThisIsWhatWeDoBitch {
        font-family: $hero-font;
        font-size: 60px;
        padding-bottom: 10px;
        margin: 10px auto;
    }
    #bunky {
        margin: 0px auto;
        max-width: 160px;
        width: 100%;
    }
    .support-college {
        margin-top: 80px;
        img {
            max-width: 160px;
            opacity: 0.7;
        }
    }
}

section.one {
    padding-bottom: 40px;
}
/*Home Styles*/
   
    
.home {
    .home-card,
    .can-i-bunk,
    .plan-a-holiday{
        max-width: 800px;
        position: relative;
        border-radius: 5px;
        box-shadow: 0px 4px 10px rgba(#000,0.2);
        //border: 1px solid $sidebar-color;
        margin: 20px auto;
        transform: translateY(-90px);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
     
        
        @include tablet{
            border-radius: 0px;
            transform: translateY(-80px);
        }
        
        background: $sidebar-color;
     
        .user-panel {
            background: url(../img/home-header/christ.png) center center no-repeat;
            -moz-backgroud-size: cover;
            -webkit-backgroud-size: cover;
            -o-backgroud-size: cover;
            backgroud-size: cover;
            border-bottom: $sidebar-color - 20 1px solid;
            padding: 20px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            
            .col-md-6{
                @include tablet{
                    text-align: center;
                }
            }
            
            h4#username {
                color: $white;
            }
            span,
            #user {
                display: inline-block;
            }
            span strong {
                color: #ffffff;
            }
            #user {
                max-width: 100px;
                margin-right: 15px;
            }
            .overall {
                .row {
                    padding: 20px 0px;
                    .adj {
                        transform: translateY(20px);
                        .col-xs-4 {
                            &:nth-child(1) {
                                color: #1992c7 !important;
                            }
                            &:nth-child(2) {
                                color: #14b120 !important;
                            }
                            &:nth-child(3) {
                                color: #ba0a0a !important;
                            }
                        }
                    }
                }
            }
        }
        .tabs {
            padding: 0px;
            background: $sidebar-color;
            text-align: left;
            border-bottom: 1px solid $sidebar-color - 10;
            span {
                display: inline-block;
                padding: 20px;
                cursor: pointer;
                width: auto;
                background: $sidebar-color;
                margin: 0px;
                color: #a2a2a2;
                font-weight: bold;
                transform: translateY(1px);
                border-top: 1px solid $sidebar-color - 10;
                border-right: 1px solid $sidebar-color - 10;
                &:hover {
                    background: $sidebar-color + 5;
                }
            }
            span.active {
                background: $sidebar-color + 20;
            }
        }
        .tab {
            background: $sidebar-color + 20;
            color: $white;
            text-align: left !important;
            padding-bottom: 50px;
     
        }
        .subjects,
        .bunk-graph {
            background: #fff;
            min-height: 400px;
            position: relative;
            padding-bottom: 30px;
        }
        .subjects {
            text-align: left;
            div {
                padding: 10px 20px;
                border-bottom: $sidebar-color - 5px 1px solid;
                transition: all 0.3s ease-in-out;
                
                &:hover{
                    background: #efefef;
                    cursor: pointer;
                }
                
               
              
                
            }
            p.perbox {
                width: 80px;
                height: 80px;
                display: inline-block;
                border-radius: 4px;
                line-height: 80px;
                color: white;
                font-size: 22px;
                text-align: center;
                //background: $bunky-bg;
                margin: 0px;
            }
            #subname {
                text-transform: capitalize;
                font-weight: bold;
                margin-left: 30px;
                color: #555555;
            }
        }
    }
    #page-content-wrapper {
        border-top: 120px solid $bunky-bg - 10;
        position: relative;
       
        
        & > .page-overlay{
            position: absolute;
            z-index: 100;
            top: -60px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.4);
            
            @include laptop{
                top: -130px;
            }
            
              @include desktop{
                top: -130px;
            }
        }
    }
    .nv {
        font-size: 20px;
        transform: translateX(-15px);
        width: 50px;
        height: 25px;
        display: inline-block;
        color: $bunky-bg;
    }
    #sidebar-wrapper {
        background: $sidebar-color;
        background: $sidebar-color + 10;
        box-shadow: 0px 4px 10px rgba(#000,0.2);
        
        #bunky {}
        img#bunky-img {
            max-width: 60px;
            display: block;
            margin: 0px auto;
            padding-top: 20px;
        }
    }
    .sidebar-nav li.active > .fa {
        color: #53A8BB;
    }
    .sidebar-nav li.active {
        background: $sidebar-color - 15;
        border-left: 5px solid $bunky-bg;
        color: #ffffff !important;
        font-weight: bold;
        &:last-child {
            border: none;
        }
    }
    .sidebar-nav li{ 
        transition-duration: 0.4s;
        overflow: hidden;
        position: relative;
    }
    .sidebar-nav li:hover {
        background: $sidebar-color - 30;
        border-left: 5px solid $bunky-bg;
    }
    .sidebar-brand {
        height: 120px;
        background: $bunky-bg;
    }
    .sidebar-nav li a {
        color: #a2a2a2;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
    }
    #bunky {
        font-size: 25px;
        display: block;
        text-align: center;
        width: 100%;
        transform: translate(-8px, -20px);
        font-family: $bunky-font;
        font-weight: 800;
        color: $bunky-text-color;
    }
}

.can-i-bunk{
    padding: 40px;
    background: #FFF;
    
    
    .header{
        .fa{
            color: $bunky-bg;
            display: block;
            width:  80px;
            height: 80px;
            margin: 0px auto;
            padding: 15px;
            border-radius: 50%;
            font-size: 50px;
            border: 1px solid $bunky-bg;
        }
        span{
            display: block;
            font-size: 25px;
            font-weight: bold;
            font-family: $bunky-font;
            color: $bunky-bg;
        }
    }
    
    main{
        margin: 30px 0px;
        .msg{
            font-size: 100px;
            font-family: $bunky-font;
            color: $text-red;
            display: block;
        }
    }
}


.sidebar-mobile-btn{
    position: absolute;
    transform: translateY(-110px);
    left: 10px;
    width: 80px;
   
    @include laptop{
        display: none;
    }
   
    h2 {
    float: left;
    margin-top: 13px;
    color:#fff;
    font-size: 14px;
}
}


.hamburger {
  list-style: none;
  float: left;
  margin: 0;
  padding: 10px 0;
  position: relative;
  top: 2px;
  left: 10px;
  -moz-transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
  -o-transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
  -webkit-transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
  transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
}
.hamburger li {
  width: 24px;
  height: 4px;
  background: #fff;
  margin: 2px 0 0;
  padding: 0;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
  -o-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
  -webkit-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
  transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
}

.checked .hamburger li.first {
  -moz-transform: rotate(-135deg) translateY(-8.5px);
  -ms-transform: rotate(-135deg) translateY(-8.5px);
  -webkit-transform: rotate(-135deg) translateY(-8.5px);
  transform: rotate(-135deg) translateY(-8.5px);
}
.checked .hamburger li.second {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.checked .hamburger li.third {
  -moz-transform: rotate(135deg) translateY(8.5px);
  -ms-transform: rotate(135deg) translateY(8.5px);
  -webkit-transform: rotate(135deg) translateY(8.5px);
  transform: rotate(135deg) translateY(8.5px);
}

.join-us{
    background: $sidebar-color + 20;
    padding-bottom: 60px;
    
    header{
    padding: 50px;
    background: url(../img/join-us.jpg);
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @include laptop{
        padding: 80px;
    }
    @include desktop{
        padding: 80px;
    }
    
    h1{
        color: #fff;
    }
    }
    
    main{
        padding: 70px;
        text-align: left;
        
        h1{
            font-size: 50px;
        }
    }
    
    .andHereMySucks{
        padding: 70px;
        text-align: left;
        background: $bunky-bg - 10;
        color: #fff;
    }
}

.plan-a-holiday{
    
    .calendar-navbar{
        padding: 10px 0px;
         background: #CCC;
        margin: 0px 0px;
    }
    

        .monthview-dataCell{
            padding: 40px;
            background: red;
        }
    
    
    .header{
        padding: 40px;
       
        
        h1.icon{
            color: $bunky-bg;
            display: block;
            width:  80px;
            height: 80px;
            margin: 0px auto;
            padding: 15px;
            border-radius: 50%;
            font-size: 50px;
            border: 1px solid $bunky-bg;
              transition-duration: 0.4s;
        }
        
        h5{
             display: block;
            font-size: 25px;
            font-weight: bold;
            font-family: $bunky-font;
            color: $bunky-bg;
        }
   
    }
}


.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:10000;
  top:-180px;
  left:-500px;
  width:2000%;
  height:100%;
  background-color:#000000;
  opacity: 0.5;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
      z-index:10000;
      position: absolute;
      width: 80%; /* Default */
      border-radius: 0px;
      left: 50%;
      border-radius: 3px;
      transform: translateX(-50%);
      box-shadow: 0 3px 9px rgba(0,0,0,0.32);
      background-color: #fff;
      top: 50px;
      margin: 0px auto;
      transition: all 1s ease;
    transform: scale(1);
    transition-duration: 0.6s;
    
     
    
        @include tablet{
            width: 95%;
        }


    .ng-isolate-scope{
        transition-duration: 1s;
        background: red;
    }
  /* Center the dialog */






    header{
        color: #444;
        h1{
            font-weight: normal;
            text-transform: capitalize;
            font-size: 25px;
        }
        
        & > h1{
            margin-bottom: 50px; 
        }
        padding: 70px 20px 20px 20px;
        
        h1.hhh{
            font-size: 20px;
            padding-top: 10px
        }
    }
    
}
.ng-modal-dialog-content {
   text-align: left;
    width: 100%;
    
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.features,.developer,footer{
    background: #e1e1e1;
    position: relative;
    top: -20px;
}

.push-up{
    background: #FFF;
    padding: 40px;
    position: relative;
    top: -40px;
    z-index: 2;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0,0,0,0.1);
    
    h1.title{
        padding-bottom: 40px;
        font-family: $bunky-font;
        color: $bunky-bg - 20;
    }
    
    .icon{
        background: $bunky-bg + 40;
        padding: 25px;
        height: 100px;
        width: 100px;
        margin: 20px auto;
        margin-bottom: 50px;
        border-radius: 50%;
        
        .fa{
            font-size: 48px;
            color: #FFF;
        }
    }
    
    p{
        padding-top: 20px;
        line-height: 1.8;
    }
    
    h1{
        font-size: 25px;
    }
}


.apps{
    .wrapper{
       // background: $bunky-bg - 60;
        padding: 30px;
        border-radius: 5px;
        
        
    }
}


.subject{
    background: #ffffff;
}
