 
        <div ng-controller="LoginCtrl">
        
       <div ng-class="{'blur':loginBox == true}">        
       <section class="one">
             <div class="container">
          <div class="card login">
              
                                  <img src="img/bunky.png" class="img-responsive" id="bunky">
              <h1 id="bunky-text">Bunky!</h1>
                            
           <h1 id="ThisIsWhatWeDoBitch" >MANAGE YOUR ATTENDANCE </br> LIKE A BOSS! </h1>
           <div class="center-block">
               <div class="center-block">
                    <form class="form-inline">
                        <p style="color: #ede6e6; font-weight: bold;">Enter your College Attendance Login Details</p>
                        
                    <input type="text"  class="form-control" placeholder="Username"> &nbsp; <input type="password" placeholder="Password" class="form-control">
                        <button class="btn btn-success">Login</button>
                   </form>
                   
                   <a href="#/home">Home!</a>
                   
                    <div class="support-college">
                            <h6>Supported Colleges</h6>
                            <img src="img/christ-university.png" id="@">
                            <span id="add-col"><a href="#"> My college is not there! </a>
                            </span>                     
                    </div>
               </div>
           
        </div>
        </div>
        </div>  
        </section>
            
            <footer style="margin-bottom: 50px;">
                <div class="center-block">
                    <a href="#">About</a> &#8226; 
                    <a href="#">Feedback</a> &#8226; 
                    <a href="#">Join Us!</a>
                </div>
            </footer>
        
    
        </div>
        